#address-bar
  margin: 17px 0px 23px 359px
  h5
    // display: inline-block
    // font-weight: normal
    // margin: 8px 0px 0px 40px
  span
    font-size: 15px
    //line-height: 3
.address
  a
    font-size: 15px
    color: #808080
    padding: 0px 0px 0px 15px
  background: url(asset_path('checkpoint.png')) no-repeat
  display: inline-block
  margin: 0px 0px 0px 18px
.phones
  display: inline-block
  margin: 0px 0px 0px -4px
  font-size: 15px
.social
  display: inline-block
  margin: 0px 0px 0px 20px
  padding: 0px 0px 10px 0px
  a
    margin-right: 10px
  img
    width: 20px
    height: 20px
