.countries
  h2
    text-align: center
    margin-bottom: 50px
  h3
    color: #858585
    font-size: 16px
    margin: 0px 0 24px 32px
  //position: absolute

  ul
    padding: 0
    //margin: 0 0 70px 0
    //position: relative
    li
      list-style-type: none
    li.flag
      margin-bottom: 27px
      a
        font-size: 16px
        padding: 4px 0 2px 32px
.column
  -moz-column-count: 5 /* Firefox */
  -webkit-column-count: 5 /* Safari and Chrome */
  column-count: 5