#footer-wrapper
  background: #009804
  margin: 20px 0px 0px 0px
  padding: 0px 0px 41px 0px
#footer
  padding: 0px 0px
  background-color: black
  a
    text-decoration: none
    color: #a0e16b
  #first-col
    color: #FFFFFF
    font-size: 16px
    margin: 35px 0px 0px 0px
    padding: 0px 0px 0px 0px
    width: 530px
    h3
      margin: 0px 0px 0px 18px
      font-size: 30px
      font-weight: bold
    p
      margin: 21px 0px 0px 18px
      font-size: 18px
    ul
      margin: 17px 0px 0px 16px
      width: 525px
      letter-spacing: 1px
    .hr
      display: block
      height: 1px
      border: 0
      border-top: 1px solid #6db033
      margin: 1em 0
      padding: 0
      width: 543px
    span
      display: inline-block
      margin: 2px 8px 0px 19px
      font-size: 18px
    #skype-link
      background: url(asset_path('skype_sm.png', image)) no-repeat
      padding-left: 20px
    #logo-wrapper
      margin: 44px 0px 0px 0px
      //overflow: hidden
    #footer-logo
      margin: -2px 0px 0px 9px
      a
        background: url(asset_path('panda_logo_footer.png')) no-repeat
        text-indent: -9999px
        display: block
        width: 217px
        height: 35px
        //margin: 0px 0px 0px 0px
        float: left
    #panda-unp
      //font-size: 15px // 15px in a ps layout
      font-size: 15px
      color: #A1D375
      float: left
      //width: 192px
      margin: 10px 0px 0px 33px
      //text-align: center
  #sec-col
    margin: 48px 0px 0px 0px
    line-height: 2.0
  #third-col
    margin: 48px 0px 0px 0px
    line-height: 2.0
