.best-country
  a
    color: #ffffff
    text-decoration: none
    font-size: 19px
  position: absolute
  //top: 0
  //left: 0
  //color: #ffffff
  background: #666\9
  background: rgba(80, 80, 80, 0.75)
  width: 240px
  padding: 10px 0
#best-country
  h2
    margin: 10px 0 0 0
    font-size: 16px
    font-family: proximanova
    font-weight: bold
    color: #ffffff
  h3
    padding: 0
    margin: 0
    font-size: 24px
    font-family: proximanova
    font-weight: bold
    color: #ffffff



