//.info

.skype
  display: inline-block
  background: url(asset_path('skype.png', image)) no-repeat
  padding-left: 25px
  padding-bottom: 5px
  background-size: 20px
  a
    margin-top: 10px
.email
  display: inline-block
  background: url(asset_path('email.png', image)) no-repeat
  padding-left: 25px
  padding-bottom: 5px
  background-size: 20px
.panda-photo
  width: 372px
  height: 312px
  background-color: lightgray
  img
    border: 5px solid #ffffff
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
  em
    font-size: 10px
  ul
    margin: 10px 0 0 35px
    li
      margin-right: 25px
  span
    display: block
