.countries
  h2
    text-align: center
  ul
    float: left
    //padding-top: 10px
    //display: inline-block
    li
      //margin-bottom: 20px
      list-style-type: none
      //a
        //font-size: 16px
        //padding-left: 53px
        //padding-bottom: 48px
        //padding-top: 12px
.also
  h2
    text-align: center
.centered
  text-align: center

#hits_of_sales
  // padding: 0
  // margin: 0

#we-are-the-best
  // padding: 0
  // margin: 0

.hit-item
  width: 220px
  max-height: 350px
  float: left
  margin-bottom: 4px
  overflow: hidden
  color:black
  text-align: justify
  font-size: 14px
  padding-top: 2px
  img
    width: 220px

.price
  background-color: #000000
  padding: 2px 10px 5px 10px
  margin-top: 2px
  position: absolute
  top: 0px
  color: white
  opacity: 0.7
  top: 0px

.stamp
  position: absolute
  left: 30%
  top: 0px
  width: 480px
  max-height: 500px
  img
    height: 211px
    width: 100%


