body
  font-family: proximanova, sans-serif
  font-weight: normal
  h2
    font-family: proximanova, sans-serif
    font-weight: bold
.container
  width: 1000px
  padding: 0px 20px
#search-wrapper
  background: #009804
  margin: 20px 0px 20px 0px
  padding: 20px 0px 20px 0px
  height: 202px
  .search-bar
    position: relative
    margin-top: 40px
  h2
    margin-top: 32px
    font-weight: bold
    font-size: 30px
    color: white
  form
    margin: 0
.main-wrapper
  width: 1680px
  margin: 0 auto
