.shared
  padding: 20px 0
.addthis_toolbox
  a
    margin-right: 20px
.printer
  margin: 10px 0 0 -2px
  background: url(asset_path('printer.png', image)) no-repeat
  padding-left: 28px
  background-size: 18px
  a
    font-size: 15px
