h2
  margin-top: 28px
  font-size: 30px
  font-weight: bold
h3
  font-size: 28px
  font-weight: bold
h4
  font-size: 24px
  font-weight: bold
h5
  font-size: 16px
  font-weight: normal
  margin-top: 4px
h6
  font-size: 15px
  font-weight: bold
.map_container
  height: 400px
  width: 702px
  #map
    height: 400px
    width: 702px
#foto-tour
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5)
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5)
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5)
  data-width: 670px
  data-ratio: '800/600'
  img
    width: 670px
    height: auto
  .fotorama__thumbs_previews
    background-color: black
.gradient-top
  background: url(asset_path('gradient-gray.png', image)) repeat-x
  height: 8px
  width: 100%
.special-color
  color: #f86b0d !important
  h3,
  h5
    margin: 0
.my-btn
  text-decoration: none
.image-title
  position: absolute
  background: #666\9
  background: rgba(80, 80, 80, 0.75)
  width: 100%
  padding: 20px 0
  font-size: 15px
  font-family: proximanova
  font-weight: normal
  color: white
#vidjets-col
  #you-watched
    ul
      margin: 24px 0 0 0
      padding: 0
  ul
    margin-top: 4px
    margin-bottom: 2px
    padding: 28px 20px 20px 20px
  #countries-vidjet
    ul
      margin: 0
      padding: 0
      li
        margin: 10px 10px 10px -34px
        a
          padding: 5px 6px 4px 34px
  .back-gray
    background-color: #efefef
    padding: 28px 20px 28px 42px
  padding: 0
#dates-of-vidjet
  ul
    padding: 0
  margin-top: 2px
  .gray-color
    color: #c0c0c0
