@import "./import/*"

@font-face
  font-family: proxima-nova
  src: url(font_path('Proxima Nova Regular.otf'))
  src: url('fonts/proximanova.otf?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal
@font-face
  font-family: proxima-nova
  src: url(font_path('ProximaNova-Bold.otf'))
  src: url('fonts/ProximaNova-Bold.otf?#iefix') format("embedded-opentype")
  font-weight: bold
  font-style: normal
