#adress-bar.contaner
  %ul.list-unstyled.list-inline
    %li
      %span +375 29 328 38 07 Velcom
    %li
      %span +375 29 328 38 08 МТС
    %li
      %span +375 29 220 23 43
    %li
      %span +375 29 327 83 68
    %li
      %span +375 29 327 03 02
