#footer.container
  #first-col.col-md-6
    %h3 Приезжайте, звоните, пишите
    #logo Здесь будет лого
  #sec-col.col-md-3
    %ul.list-unstyled
      %li
        =link_to 'Каталог туров', tours_path
      %li
        =link_to 'Визы', visas_path
      %li
        =link_to 'Путеводитель', articles_path
      %li
        =link_to 'Контакты', contacts_path
  #third-col.col-md-3
    %ul.list-unstyled
      - @resttypes.each do |x|
        %li
          =link_to x.title, "/resttypes/#{ params[resttype: x.id] }"
