#footer.container
  #first-col.col-md-6
    %h3 Приезжайте, звоните, пишите
    %p
      Минск, пр. Независимости, 28, офис 2
    .hr
    %p
    %ul.list-unstyled.list-inline
      %li
        +375 (17) 327 83 68
        %br
        городской
      %li
        +375 (29) 327 03 02
        %br
        Velcom
      %li
        +375 (29) 220 23 43
        %br
        МТС
    .hr
    %span
      =mail_to 'hello@panda-travel.by', 'hello@panda-travel.by'
    %span#skype-link
      =link_to 'panda-travel', 'skype:panda-travel.by?call'
    #logo-wrapper
      #footer-logo
        = link_to 'Panda Travel', root_path
      #panda-unp
        ЧТУП "Панда Трэвел" УНП 191675650
  #sec-col.col-md-3
    %ul.list-unstyled
      %li
        =link_to 'Каталог туров', tours_path
      %li
        =link_to 'Визы', visas_path
      %li
        =link_to 'Путеводитель', articles_path
      %li
        =link_to 'Контакты', contacts_path
  #third-col.col-md-3
    %ul.list-unstyled
      - @resttypes.each do |x|
        %li
          =link_to x.title, resttypes_path(x)
