- if @best_country.present? && @best_country.articles.any?
  #home-best-country.text-center
    .home-best-country
      %h2.text-center Страна месяца
      %h3.text-center= @best_country.title
    = link_to image_tag(@best_country.articles.first.poster.url(:big)), country_path(@best_country), title: @best_country.title
