%p Частное туристическое унитарное предприятие "Панда трэвел"
%h2 Звоните:
%ul
  %li
    %p +375 29 328 38 07
    %p Velcom
  %li
    %p +375 29 328 38 08
    %p МТС
  %li
    %p +375 29 220 23 43
    %p +375 29 327 83 68
    %p +375 29 327 03 02
%h2 Пишите
=mail_to 'hello@panda-travel.by', 'hello@panda-travel.by'
=link_to 'panda-travel', 'skype:panda-travel?call'
%h2 Приезжайте:
%p 220030, Беларусь, Минск, пр. Независимости, 28, офис 2 (вход с проспекта)