#mainmenu.container
  %ul.list-unstyled.list-inline
    %li
      = link_to 'Каталог туров', tours_path, title: 'Каталог туров'
    %li
      = link_to 'Визы', visas_path, title: 'Визы'
    %li
      = link_to 'Путеводитель', articles_path, title: 'Путеводитель'
    %li
      = link_to 'Контакты', contacts_path, title: 'Контакты'
