#mainmenu.container
  %ul#main-menu.list-unstyled.list-inline
    %li
      = link_to 'Каталог туров', tours_path
    %li
      = link_to 'Визы', visas_path
    %li
      = link_to 'Путеводитель', articles_path
    %li
      = link_to 'Контакты', contacts_path
