.manager
  %h4 Знакомьтесь,
  = @manager.name
  %br
  Менеджер этого тура
  %br
  = image_tag(@manager.avatar.url(:small))
  - @contacts.each do |contact|
    %ul.list-unstyled
      %li{:style => "background: url('#{contact.logo.url(:original)}') no-repeat;"}= contact.description