.manager
  %h4 Знакомьтесь,
  = @manager.name
  %span
    Менеджер этого тура
  #manager-image
    = image_tag(@manager.avatar.url(:small))
  %ul.list-unstyled#manager-contacts
    - @contacts.each do |contact|
      %li{style: "background: url('#{contact.logo.url(:original)}') no-repeat;"}= contact.description
