.manager
  %h4 Знакомьтесь,
  = @manager.name
  %span
    Менеджер этого тура
  #manager-image
    = image_tag(@manager.avatar.url(:small))
  %ul.list-unstyled#manager-contacts
    - @contacts.each do |contact|
      - if contact.contact_type.present?
        %li{style: "background: url('/assets/#{contact.contact_type}.png') no-repeat scroll 0% 0% / 20px auto;"}= contact.description
