- if @last_news.present?
  .last-news
    %h4 Новости компании
    %ul.list-unstyled
      - @last_news.each do |news|
        %li
          %h5= link_to news.short_title, news_path(news), title: news.short_title
          %span= Russian::strftime(news.created_at, "%e %B")
    %p= link_to 'Все новости', news_index_path, title: 'Все новости'
