- if @random_tours.present?
  #some-tours
    %ul.some-slider
      - @random_tours.each do |random|
        - unless random.images.first.image.nil?
          %li
            = link_to image_tag(random.images.first.image.url(:large), title: "#{link_to random.short_title, tour_path(random)}"), tour_path(random), title: random.short_title