#steps
  .row#head
    .col-md-1
      %h4
        Дни
    .col-md-10
      %h4
        Программа тура
  - @tour.steps.order('number ASC').each do |step|
    .row#each-step
      .col-md-1
        = step.number
      .col-md-10
        = step.description
  .tour-route
    %ul.list-unsyled.list-inline
      %li
        = link_to 'Маршрут на карте', modal_path('map', @tour.class.name, @tour.id), class: "b-modal"
      %li
        = link_to 'Скачать программу тура', '#'
