%h3 Мы предлагаем только лучший отдых
.container
  .row
    .col-md-6#first-col
      %p
        =link_to 'Автобусные туры', resttypes_path(RestType.find_by_title('Автобусный тур'))
        по Европе,
        = link_to 'отдых на море', resttypes_path(RestType.find_by_title('отдых в крыму'))
        на лучших курортах, познавательные
        авиатуры в новые для вас страны и города,
        туры выходного дня, и многое другое.
    .col-md-6#second-col
      %p
        Мы ценим каждого клиента и подходим
        максимально досконально и ответственно
        к выполнению своих обязательств перед вами.
  .row
    .col-md-6#first-col
      %p
        Постоянно обновляемая
        =link_to 'база туров', tours_path
        , выгодные цены, дисконтная программа,
        грамотная и оперативная консультация
        наших менеджеров делает выбор тура
        лёгким, удобным и выгодным, а ваше
        путешествие – незабываемым!
    .col-md-6#second-col
