#you-watched
  %h4 Вы смотрели:
  - @found_tours.each do |tour|
    - if tour.present?
      = link_to image_tag(tour.try(:images).first.image.url(:small)), tour_path(tour), title: tour.short_title
      = link_to tour.short_title, tour_path(tour), title: tour.short_title
      - if tour.price.present?
        %p
          от
          = tour.price.price
          = tour.price.currency
      - else
        %br
